.footer {
    background-color: #333; 
    color: aliceblue; 
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 4%;
    z-index: 1000; 
}

.components {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoh1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
}

/* Estilos para os ícones das redes sociais */
.socialLinks {
    margin-top: 10px;
}

.icon {
    color: aliceblue; /* Cor dos ícones */
    font-size: 24px;
    margin: 0 10px; /* Espaçamento entre os ícones */
    transition: color 0.3s;
}

.icon:hover {
    color: #ccc; /* Muda a cor ao passar o mouse */
}